certifi
chardet
coreapi
coreschema
Django
django-cors-headers
django-rest-swagger
django-summernote
django-templated-mail
djangorestframework
djangorestframework-jsonapi
djangorestframework-jwt
djoser
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
pkg-resources
psycopg2
psycopg2-binary
PyJWT
pytz
requests
simplejson
six
uritemplate
urllib3
